

/* TEXT */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

h1, h3{
    font-family: 'Amatic SC', cursive;
}


/* SLIDER  - AJUSTES DE IMAGEN DEL CAROUSEL*/

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.slide-1{

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(../img/bg-carousel-wide-1.png);

}

.slide-2{

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(../img/bg-carousel-wide-2.png);

}

.slide-3{

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(../img/bg-carousel-wide-3.png);

}

.bg-cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*  BOTONES

a{

}

.btn{
    border: 0;
    padding: 1rem, 2.5rem;
}

.btn-brand{
    background-color: lightgreen;
    transition:350ms;
}

.btn-brand:hover{
    background-color: rgb(114, 208, 114);
    transition:350ms;

}
 */

/* --------------COLORES DE ÁREA PARA TEST----------------- */

body{
    background-color: whitesmoke;
    margin: 0;
    padding:0;
}

.background-red {
    background-color: crimson;
}

.background-cyan {

    background-color: cyan;
}

.background-green {
    background-color:lightgreen;
}

.background-orange {
    background-color: orange;
}

.background-yellow {
    background-color: yellow;
}


/* --------------CONTAINER FLUID----------------- */

/* .container-fluid {
    height: 100vh;
    width: 100vw;
} */


/* INTRO TEXT MENU */

.intro-text{
    margin-bottom: 3rem;
    text-align:center;
}

.intro-text-p{
    max-width: 32rem;
    margin: 1rem auto 0 auto;
}


/* EN PAGINA MENU */

#menu .nav-pills .nav-link{
    background-color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color:darkseagreen;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active{
    background-color: darkseagreen;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color:white;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
}
